
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mi&Au-Cadastro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body class="fundo">

    <header>
        <img id="banner" src="{% static 'images/h1.png' %}"/>
        <h1 id="titulo">Mi&Au</h1>
        <h4>O site para todos os pets</h4>
    </header>

    <div class="navbar">
        <a href="/">Home</a>
        <a href=" " class="active">Adoção</a>
        <a href="\sobre">Sobre</a>
        <a href="\noticias">Notícias</a>
        <a href="\accounts/login" class="right">Login</a>
    </div>

    <div class="content">
        <article id="anuncios">
            <h2>Esta é a página com os pets para adoção!</h2><hr>
            <div class="anuncio">anuncio1</div>
            <div class="anuncio">anuncio2</div>
        </article>
        <article>
            <h2>Cadastre um pet para adoção :)</h2><hr>
            <div class="col-8 m-auto pt-2 pb-2 text-center">
        <div id="result"></div>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{form.nome}}</div>
            <div class="form-group mt-4">Idade: {{form.idade}}</div>
            <div class="form-group mt-4">Sexo: {{form.sexo}}</div>
            <div class="form-group mt-4">Espécie: {{form.especie}}</div>
            <div class="form-group mt-4">Raça: {{form.raca}}</div>
            <div class="form-group mt-4">Porte (tamanho): {{form.porte}}</div>
            <div class="form-group mt-4">Descrição: {{form.descricao}}</div>
            <div class="form-group mt-4">O pet é castrado?: {{form.castrado}}</div>
            <div class="form-group mt-4">Adicione uma imagem: {{form.imagem}}</div><br><hr>
            <a class="col-8 m-auto pt-2 pb-2 text-center" href="/" class="btn btn-info"> Voltar </a>
            <input type="submit" class="btn btn-success" value="Salvar">
        </form>
    </div>

    <button onclick="topFunction()" id="Btn" title="Subir">Ir para o topo</button>
        </article></div>
    <footer>
        Projeto Mi&Au
        <br>
        Desenvolvimento WEB
        <br>
        Beatriz e Lorenzo
    </footer>
    <script src="{% static 'botao.js' %}"></script>
</body>
</html>