<!DOCTYPE html>
<html lang="en">
<head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WBZ2S8W');</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A0c6FAIxSUELNxUVBg0tOyATC1lGElxvw4WEmYp5SqtYCGocKVnhqH7V" name="csrf-token">
<title>Mi&Au</title>
<meta name="description" content="Uma nova forma de apresentar os animais para as futuras pessoas que irão adotá-los.">
<meta name="twitter:site_name" content="Amigo não se compra">
<meta name="twitter:site" content="@migonaosecompra">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Uma nova forma de apresentar os animais para as futuras pessoas que irão adotá-los.">
<meta name="twitter:image" content="https://www.amigonaosecompra.com.br/assets/logo-amigo-nao-se-compra-grande-72c2a2d4b55b85e410e1eb89584b425c490b8b80b0f257bebe0a72fa26512cfa.jpg">
<meta property="og:url" content="https://www.amigonaosecompra.com.br/">
<meta property="og:site_name" content="Amigo não se compra">
<meta property="og:title" content="Amigo não se compra">
<meta property="og:image" content="https://www.amigonaosecompra.com.br/assets/logo-amigo-nao-se-compra-grande-72c2a2d4b55b85e410e1eb89584b425c490b8b80b0f257bebe0a72fa26512cfa.jpg">
<meta property="og:description" content="Uma nova forma de apresentar os animais para as futuras pessoas que irão adotá-los.">
<meta property="og:type" content="website">
<meta name="image" content="https://www.amigonaosecompra.com.br/assets/logo-amigo-nao-se-compra-grande-72c2a2d4b55b85e410e1eb89584b425c490b8b80b0f257bebe0a72fa26512cfa.jpg">
<title>Mi&Au</title>
<link rel="preload" href="https://www.amigonaosecompra.com.br/fonts/PatuaOne-Regular-53290205673345c24884f0eac68f3b74.ttf?vsn=d" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="https://www.amigonaosecompra.com.br/fonts/OpenSans-Regular-3ed9575dcc488c3e3a5bd66620bdf5a4.ttf?vsn=d" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="https://www.amigonaosecompra.com.br/fonts/OpenSans-Bold-1025a6e0fb0fa86f17f57cc82a6b9756.ttf?vsn=d" as="font" type="font/ttf" crossorigin>
<link rel="stylesheet" href="https://www.amigonaosecompra.com.br/assets/app-1573c5956b00a44da5a1fb818813d1fb.css?vsn=d">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css" integrity="sha512-YQlbvfX5C6Ym6fTUSZ9GZpyB3F92hmQAZTO5YjciedwAaGRI9ccNs4iw2QTCJiSPheUQZomZKHQtuwbHkA9lgw==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.theme.min.css" integrity="sha512-wCwx+DYp8LDIaTem/rpXubV/C1WiNRsEVqoztV0NZm8tiTvsUeSlA/Uz02VTGSiqfzAHD4RnqVoevMcRZgYEcQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<header class="bg-white">

<nav>
<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
<div class="relative flex items-center justify-between lg:h-20">
<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">

<label for="menu-toggle" class="inline-flex items-center justify-center p-2 rounded-xl-md text-gray-400 hover:text-white hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
<span class="sr-only">Abrir menu</span>
<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
</svg>
</label>
</div>
<div class="h-14 flex-1 flex items-center justify-center sm:justify-start">
<div class="flex-shrink-0 flex items-center">
<a href="/">
<img id="logo" style="width:100px" src="https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=1600">
</a>
</div>
<div class="hidden sm:block sm:ml-6" id="menu">
<div class="flex lg:space-x-4">
<a class="text-primary hover:text-secondary px-3 rounded-xl-md text-sm font-bold" href="/paginas/sobre-o-amigo">Quem somos</a>
<a href="/quero-adotar" class="text-primary hover:text-secondary px-3 rounded-xl-md text-sm font-bold">Quero adotar</a>
<a class="text-primary hover:text-secondary px-3 rounded-xl-md text-sm font-bold" href="/paginas/quero-ajudar">Quero ajudar</a>
<a class="text-primary hover:text-secondary px-3 rounded-xl-md text-sm font-bold" href="/paginas/parcerias">Parcerias</a>
<a href="https://site.amigonaosecompra.com.br/" class="text-primary hover:text-secondary px-3 rounded-xl-md text-sm font-bold" target="_blank">Blog</a>
</div>
</div>
</div>
<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto md:ml-6 sm:pr-0">
<div class="relative mx-auto text-gray-600 lg:inline-block">
<a href="/login" class="primary-link mr-5">
Entrar
</a>
<a href="/cadastro" class="primary-button hidden md:inline-block">
Cadastre-se
</a>
</div>
</div>
</div>
</div>
<input class="hidden  popup-menu" type="checkbox" id="menu-toggle">
<div class="hidden fixed bg-primary-dark w-full h-full z-50 top-0 left-0 sm:hidden" id="mobile-menu">
<label for="menu-toggle" class="flex justify-end p-2 rounded-xl-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
<span class="sr-only">Fechar menu</span>
<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
</svg>
</label>
<div class="px-2 pt-2 pb-3 space-y-1">
<a class="text-gray-300 hover:bg-primary hover:text-white block px-3 py-2 rounded-xl-md text-base font-medium" href="/paginas/sobre-o-amigo">Quem somos</a>
<a href="/quero-adotar" class="text-gray-300 hover:bg-primary hover:text-white block px-3 py-2 rounded-xl-md text-base font-medium">Quero adotar</a>
<a class="text-gray-300 hover:bg-primary hover:text-white block px-3 py-2 rounded-xl-md text-base font-medium" href="/paginas/quero-ajudar">Quero ajudar</a>
<a class="text-gray-300 hover:bg-primary hover:text-white block px-3 py-2 rounded-xl-md text-base font-medium" href="/paginas/parcerias">Parcerias</a>
<a href="https://site.amigonaosecompra.com.br" class="text-gray-300 hover:bg-primary hover:text-white block px-3 py-2 rounded-xl-md text-base font-medium" target="_blank">Blog</a>
</div>
</div>
</nav>
</header>
<div class="divider my-0"></div>
<main role="main" class="flex-grow container max-w-7xl mx-auto px-2 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8">
<div class="w-auto mb-5 md:hidden">
<div class="glide mobile">
<div class="glide__track" data-glide-el="track">
<ul class="glide__slides">
<li class="glide__slide">
<a href="https://www.amigonaosecompra.com.br/quero-adotar" target="_self">
<img class="rounded-md" height="270px" loading="eager" src="https://www.amigonaosecompra.com.br/unsafe/360x270/banners/9415f6a3-8bfd-47a0-9933-8bd11f3365f4/9415f6a3-8bfd-47a0-9933-8bd11f3365f4.png?v=63825401414" width="360px">
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="w-auto mb-5 hidden md:block">
<div class="glide desktop">
<div class="glide__track" data-glide-el="track">
<ul class="glide__slides">
<li class="glide__slide">
<a href="https://www.amigonaosecompra.com.br/quero-adotar" target="_self">
<img class="rounded-md" height="400px" loading="eager" src="https://www.amigonaosecompra.com.br/unsafe/1600x400/banners/d4c74593-3370-445d-9b99-16c95f891c3c/d4c74593-3370-445d-9b99-16c95f891c3c.png?v=63825401086" width="1600px">
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="flex flex-col md:flex-row gap-2 py-5">
<a class="primary-button flex-1" href="/quero-adotar">Quero adotar</a>
<a class="primary-outline-button flex-1" href="/pets/novo">Quero divulgar um animal</a>
</div>
<div class="lg:py-10 py-5">
<h2 class="title-lg">Novos peludos por aqui</h2>
<p class="mt-3 sm:mt-4">
<div class="text-xl text-gray-500">Nosso site está cheio de doguinhos e gatinhos ansiosos por uma família.</div>
<div class="text-xl text-gray-500">Vem ver!</div>
</p>
</div>
<div id="grid-pet">
<div class="grid gap-3 justify-center grid-rows-none sm:gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/wichita-sao-paulo-sao-paulo-femea-e634b973-714b-4bb7-aca9-251381d4173f">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/1042a08a-be60-4fe8-b8e8-8052a16f9092/e634b973-714b-4bb7-aca9-251381d4173f/e634b973-714b-4bb7-aca9-251381d4173f.jpg?v=63835690327" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/wichita-sao-paulo-sao-paulo-femea-e634b973-714b-4bb7-aca9-251381d4173f">Wichita</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/rosela-sao-paulo-sao-paulo-femea-25bd09d9-b200-4c4d-939c-5066dddb7cc5">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/1042a08a-be60-4fe8-b8e8-8052a16f9092/25bd09d9-b200-4c4d-939c-5066dddb7cc5/25bd09d9-b200-4c4d-939c-5066dddb7cc5.jpg?v=63835689189" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/rosela-sao-paulo-sao-paulo-femea-25bd09d9-b200-4c4d-939c-5066dddb7cc5">Rosela</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/jamily-sao-paulo-sao-paulo-femea-97691b79-a02b-4406-9957-e02cf1310e77">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/1042a08a-be60-4fe8-b8e8-8052a16f9092/97691b79-a02b-4406-9957-e02cf1310e77/97691b79-a02b-4406-9957-e02cf1310e77.jpg?v=63835688756" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/jamily-sao-paulo-sao-paulo-femea-97691b79-a02b-4406-9957-e02cf1310e77">Jamily</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/elizabeth-sao-paulo-sao-paulo-femea-9e033889-b86c-4cc4-b274-1a486d07648b">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/1042a08a-be60-4fe8-b8e8-8052a16f9092/9e033889-b86c-4cc4-b274-1a486d07648b/9e033889-b86c-4cc4-b274-1a486d07648b.jpeg?v=63835688056" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/elizabeth-sao-paulo-sao-paulo-femea-9e033889-b86c-4cc4-b274-1a486d07648b">Elizabeth </a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/gin-parana-curitiba-macho-64dd78eb-b6ef-4c62-854a-46a33a94c7d3">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/9935de07-981f-46ec-9f56-4ad52dab9c07/64dd78eb-b6ef-4c62-854a-46a33a94c7d3/64dd78eb-b6ef-4c62-854a-46a33a94c7d3.jpeg?v=63835686678" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/gin-parana-curitiba-macho-64dd78eb-b6ef-4c62-854a-46a33a94c7d3">GIN</a>
</div>
<div class="text-gray-500 text-sm">
Curitiba, Paraná
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/marry-sao-paulo-sao-paulo-femea-76559326-0d88-4eac-9b02-c9b618b48851">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/94fcff96-20c5-4786-9de3-c8eeaa99a40c/76559326-0d88-4eac-9b02-c9b618b48851/76559326-0d88-4eac-9b02-c9b618b48851.jpg?v=63835685783" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/marry-sao-paulo-sao-paulo-femea-76559326-0d88-4eac-9b02-c9b618b48851">Marry</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/chocolate-sao-paulo-sao-paulo-macho-7a9dd187-f7c1-4244-b713-47ab74082202">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/94fcff96-20c5-4786-9de3-c8eeaa99a40c/7a9dd187-f7c1-4244-b713-47ab74082202/7a9dd187-f7c1-4244-b713-47ab74082202.jpg?v=63835685760" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/chocolate-sao-paulo-sao-paulo-macho-7a9dd187-f7c1-4244-b713-47ab74082202">Chocolate</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/plutao-sao-paulo-sao-paulo-macho-c0350d2f-169b-45cb-aab3-97773ec9f704">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/94fcff96-20c5-4786-9de3-c8eeaa99a40c/c0350d2f-169b-45cb-aab3-97773ec9f704/c0350d2f-169b-45cb-aab3-97773ec9f704.jpg?v=63835685738" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/plutao-sao-paulo-sao-paulo-macho-c0350d2f-169b-45cb-aab3-97773ec9f704">Plutão </a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/todynho-sao-paulo-sao-paulo-macho-44459d72-8bc9-4372-bf21-827fe0b23e5b">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/94fcff96-20c5-4786-9de3-c8eeaa99a40c/44459d72-8bc9-4372-bf21-827fe0b23e5b/44459d72-8bc9-4372-bf21-827fe0b23e5b.jpg?v=63835685716" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/todynho-sao-paulo-sao-paulo-macho-44459d72-8bc9-4372-bf21-827fe0b23e5b">Todynho</a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
<div class="flex-1 bg-white rounded-lg shadow-md overflow-hidden">
<a class="block relative" href="/pets/alecrim-sao-paulo-sao-paulo-macho-d2a5b224-404e-4591-8cef-9b7f311039d4">
<img class="rounded-t-lg object-cover md:h-50 w-full animation" height="440px" loading="lazy" src="https://www.amigonaosecompra.com.br/unsafe/460x440/94fcff96-20c5-4786-9de3-c8eeaa99a40c/d2a5b224-404e-4591-8cef-9b7f311039d4/d2a5b224-404e-4591-8cef-9b7f311039d4.jpg?v=63835685678" width="460px">
</a>
<div class="p-3 sm:p-6">
<div>
<a class="primary-link leading-normal font-bold text-base sm:text-lg" href="/pets/alecrim-sao-paulo-sao-paulo-macho-d2a5b224-404e-4591-8cef-9b7f311039d4">Alecrim </a>
</div>
<div class="text-gray-500 text-sm">
São Paulo, São Paulo
</div>
</div>
</div>
</div>
</div>
<div class="text-center mt-5">
<a class="default-button" href="/quero-adotar#pets">ver mais</a>
</div>
<div class="lg:pt-20 lg:py-10 pt-10 py-5">
<h2 class="title-lg">Por que adotar?</h2>
</div>
<div class="flex flex-col md:flex-row gap-5">
<div class="flex flex-1 items-center rounded-lg bg-white border border-solid border-secondary">
<div class="bg-white bg-opacity-10 md:bg-opacity-0 py-2">
<img class="w-80" loading="lazy" src="https://www.amigonaosecompra.com.br/images/home/why_adopt1-a513c1a3285b4027a0bda2fb2f3696d7.png?vsn=d">
</div>
<div class="py-5 pr-2">
<div class="font-bold text-base text-primary">Nesse exato momento,</div>
<div class="w-auto">
<p class="text-base">existem milhares de doguinhos e gatinhos esperando um humano para chamar de seu.</p>
</div>
</div>
</div>
<div class="flex flex-1 items-center rounded-lg bg-white border border-solid border-secondary">
<div class="bg-white bg-opacity-10 md:bg-opacity-0 py-2">
<img class="w-80" loading="lazy" src="https://www.amigonaosecompra.com.br/images/home/why_adopt2-9de523c1e0339189eadec39029d53d4c.png?vsn=d">
</div>
<div class="py-5 pr-2">
<div class="font-bold text-base text-primary">E não há recompensa maior</div>
<div class="w-auto">
<p class="text-base">do que vê-los se tornando aquela coisinha alegre e saudável depois de uma boa dose de cuidado e carinho.</p>
</div>
</div>
</div>
<div class="flex flex-1 items-center rounded-lg bg-white border border-solid border-secondary">
<div class="bg-white bg-opacity-10 md:bg-opacity-0 py-2">
<img class="w-80" loading="lazy" src="https://www.amigonaosecompra.com.br/images/home/why_adopt3-55e936d9243cbce89b557f51daf99a2a.png?vsn=d">
</div>
<div class="py-5 pr-2">
<div class="font-bold text-base text-primary">Pensando bem, a pergunta é outra:</div>
<div class="w-auto">
<p class="text-base">se você pode mudar o destino de um animal de rua, por que não faria isso?</p>
</div>
</div>
</div>
</div>
<div class="text-center mt-5">
<a class="default-button" href="/quero-adotar">Encontrar meu novo amigo</a>
</div>
<div class="py-5 pt-10 lg:py-10 lg:pt-20">
<div>
<a class="block font-normal" href="https://site.amigonaosecompra.com.br" target="_blank">
<h2 class="title-lg">
Blog do Amigo
</h2>
</a>
<p class="subtitle-lg">
Veja nossas últimas dicas sobre cuidados com seu pet
</p>
</div>
<div class="mt-10 grid grid-rows-4 gap-4 justify-center lg:grid-rows-none sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
<div class="bg-white rounded-lg shadow-md relative overflow-hidden transform transition duration-300 ease-in-out hover:shadow-xl">
<a class="block" href="https://site.amigonaosecompra.com.br/6-produtos-pet-que-voce-precisa-ter-em-casa/" target="_blank">
<img class="rounded-t-lg object-cover h-48 w-full animation" loading="lazy" src="https://site.amigonaosecompra.com.br/wp-content/uploads/2022/10/istockphoto-1330150837-170667a.jpeg">
<span class="block max-h-72 lg:max-h-80 overflow-hidden p-6">
<h3 class="text-primary hover:text-secondary text-lg leading-normal font-bold">6 Produtos pet que você precisa ter em casa</h3>
<span class="block mt-4 font-normal text-gray-500 text-base space-y-4">
<p>Quem segue o blog já sabe que eu tenho 3 gatinhos em casa. São temperamentos e comportamentos completamente diferentes! Para lidar com cada um, e com as suas manias, precisei adaptar algumas coisas por aqui e com isso descobri alguns produtinhos pet que eu acredito que todo mundo que tem um gatinho ou cachorrinho precisam ter também! É uma questão de facilitar nossa vida e garantir o bem-estar deles.</p>
</span>
</span>
<span class="absolute block bottom-0 inset-x-0 text-center">
<span class="flex justify-center items-center gap-1 py-4 bg-white font-semibold text-gray-400 uppercase text-xs tracking-wide hover:text-secondary group">
<span>Ler mais</span>
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 group-hover:text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
</svg>
</span>
</span>
</a>
</div>
<div class="bg-white rounded-lg shadow-md relative overflow-hidden transform transition duration-300 ease-in-out hover:shadow-xl">
<a class="block" href="https://site.amigonaosecompra.com.br/como-eu-resolvi-as-brigas-entre-meus-dois-gatinhos/" target="_blank">
<img class="rounded-t-lg object-cover h-48 w-full animation" loading="lazy" src="https://site.amigonaosecompra.com.br/wp-content/uploads/2022/09/gatos4-banner.jpeg">
<span class="block max-h-72 lg:max-h-80 overflow-hidden p-6">
<h3 class="text-primary hover:text-secondary text-lg leading-normal font-bold">Como eu resolvi as brigas entre meus dois gatinhos</h3>
<span class="block mt-4 font-normal text-gray-500 text-base space-y-4">
<p>Quem já apresentou um gato ao outro sabe o que é ver uma guerra prestes a estourar a qualquer momento. Pelos eriçados, orelhinha pra trás, rosnadas e o famoso &#8220;fuuuu&#8221; ou &#8220;cobrinha&#8221;, que é aquele som que eles fazem e que qualquer catlover conhece bem.</p>
</span>
</span>
<span class="absolute block bottom-0 inset-x-0 text-center">
<span class="flex justify-center items-center gap-1 py-4 bg-white font-semibold text-gray-400 uppercase text-xs tracking-wide hover:text-secondary group">
<span>Ler mais</span>
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 group-hover:text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
</svg>
</span>
</span>
</a>
</div>
<div class="bg-white rounded-lg shadow-md relative overflow-hidden transform transition duration-300 ease-in-out hover:shadow-xl">
<a class="block" href="https://site.amigonaosecompra.com.br/4-servicos-pet-que-voce-precisa-conhecer/" target="_blank">
<img class="rounded-t-lg object-cover h-48 w-full animation" loading="lazy" src="https://site.amigonaosecompra.com.br/wp-content/uploads/2022/09/istockphoto-1266979239-170667a.jpeg">
<span class="block max-h-72 lg:max-h-80 overflow-hidden p-6">
<h3 class="text-primary hover:text-secondary text-lg leading-normal font-bold">4 serviços pet que você precisa conhecer</h3>
<span class="block mt-4 font-normal text-gray-500 text-base space-y-4">
<p>Quem tem um bichinho em casa sabe o quanto é complicado viajar por muitos dias. Alguns hotéis até aceitam cachorros, mas e os gatinhos? E o que falar sobre quando precisamos levar a trupe para vacinar? Já sonhou em ter uma pet 24h porque esqueceu de comprar ração?</p>
<p>Se você também se identifica com esses pequenos problemas do dia a dia, continue aqui porque eu tenho a solução perfeita para você.</p>
</span>
</span>
<span class="absolute block bottom-0 inset-x-0 text-center">
<span class="flex justify-center items-center gap-1 py-4 bg-white font-semibold text-gray-400 uppercase text-xs tracking-wide hover:text-secondary group">
<span>Ler mais</span>
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 group-hover:text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
</svg>
</span>
</span>
</a>
</div>
<div class="bg-white rounded-lg shadow-md relative overflow-hidden transform transition duration-300 ease-in-out hover:shadow-xl">
<a class="block" href="https://site.amigonaosecompra.com.br/responsabilidade-afetiva-pet-voce-sabe-o-que-e/" target="_blank">
<img class="rounded-t-lg object-cover h-48 w-full animation" loading="lazy" src="https://site.amigonaosecompra.com.br/wp-content/uploads/2022/08/jeremy-stewardson-_4tMntYdypk-unsplash-scaled.jpg">
<span class="block max-h-72 lg:max-h-80 overflow-hidden p-6">
<h3 class="text-primary hover:text-secondary text-lg leading-normal font-bold">Responsabilidade afetiva pet, você sabe o que é?</h3>
<span class="block mt-4 font-normal text-gray-500 text-base space-y-4">
<p>Quando a gente gosta, é claro que a gente cuida, já dizia Caetano Veloso em sua música. Mas o que será que cabe no cuidar? É suficiente para um animal ter apenas água fresca e ração? É sobre isso que vamos falar hoje.</p>
</span>
</span>
<span class="absolute block bottom-0 inset-x-0 text-center">
<span class="flex justify-center items-center gap-1 py-4 bg-white font-semibold text-gray-400 uppercase text-xs tracking-wide hover:text-secondary group">
<span>Ler mais</span>
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 group-hover:text-secondary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
</svg>
</span>
</span>
</a>
</div>
</div>
<div class="text-center mt-5">
<a class="default-button" href="https://site.amigonaosecompra.com.br" target="_blank">Ver todas as dicas</a>
</div>
</div>
<input type="checkbox" id="cookies-banner" class="hidden peer">
<div class="peer-checked-block hidden fixed bottom-0 inset-x-0 bg-gray-900 bg-opacity-80 text-white text-sm p-4 shadow-xl">
<div class="flex flex-col justify-center items-center gap-4 md:flex-row md:gap-6">
<p class="text-center">
Ao acessar este site, você concorda com nossos
<a class="underline font-semibold cursor-pointer" href="/paginas/termo-de-uso-e-politica-de-privacidade" target="_blank">Termo de Uso e Política de Privacidade do site Amigo Não se Compra</a>
e Política de Cookies.
</p>
<label for="cookies-banner" class="primary-button border-white py-1.5 px-3" data-on:click="closeCookiesBanner">
OK
</label>
</div>
</div>
<input type="checkbox" id="cookies-modal" class="hidden peer" data-on:change="toggleBodyScroll">
</main>
<footer class="bg-primary text-white">
<div class="container max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 py-5">
<div class="grid gap-1 grid-cols-2 lg:grid-cols-5 text-sm">
<ul class="mt-5">
<li class="font-bold">ADOTE</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/o-que-esperar-de-uma-adocao-animal/" target="_blank">Adote com responsabilidade</a>
</li>
<li class="mt-1">
<a class="font-normal" href="/quero-adotar">Pesquisar animais</a>
</li>
</ul>
<ul class="mt-5">
<li class="font-bold">COLABORE</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/quero-ajudar/" target="_blank">Doe qualquer valor</a>
</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/clube-do-amigo/" target="_blank">Faça parte do Clube do Amigo</a>
</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/empresa-amiga-dos-animais/" target="_blank">Compre nas Lojas Parceiras</a>
</li>
</ul>
<ul class="mt-5">
<li class="font-bold">DIVULGUE UM ANIMAL</li>
<li class="mt-1">
<a class="font-normal" href="/pets/novo">Cadastrar animal</a>
</li>
</ul>
<ul class="mt-5">
<li class="font-bold">SOBRE O AMIGO</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/sobre-o-amigo-nao-se-compra/" target="_blank">Sobre o Amigo Não se Compra</a>
</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/prestacao-de-contas/" target="_blank">Prestação de contas</a>
</li>
<li class="mt-1">
<a class="font-normal" href="https://site.amigonaosecompra.com.br/perguntas-frequentes/" target="_blank">Perguntas frequentes</a>
</li>
<li class="mt-1">
<a class="font-normal" href="/paginas/termo-de-uso-e-politica-de-privacidade">Termo de Uso e Política de Privacidade do site Amigo Não se Compra</a>
</li>
</ul>
<ul class="mt-5">
<li class="font-bold">PERFIL</li>
<li class="mt-1">
<a class="font-normal" href="/login">Minha página de perfil </a>
</li>
<li class="mt-1">
<a class="font-normal" href="/cadastro">Cadastre-se</a>
</li>
</ul>
</div>
<div class="flex gap-8 mt-16 justify-center">
<a href="https://www.instagram.com/amigonaosecompra" target="_blank">
<img loading="lazy" src="https://www.amigonaosecompra.com.br/images/instagram-1577ddddf7aaefce41fe6e89b4d81de3.png?vsn=d">
</a>
<a href="https://www.facebook.com/amigonaosecompra.com.br" target="_blank">
<img loading="lazy" src="https://www.amigonaosecompra.com.br/images/facebook-42cdb13b597064462896ab0d32096a36.png?vsn=d">
</a>
<a href="https://www.youtube.com/channel/UChWiCT28HIEe_XRNVX8UMLw" target="_blank">
<img loading="lazy" src="https://www.amigonaosecompra.com.br/images/youtube-df83385dafd64efd85799e8a2daa2ef0.png?vsn=d">
</a>
<a href="https://twitter.com/migonaosecompra" target="_blank">
<img loading="lazy" src="https://www.amigonaosecompra.com.br/images/twitter-e2c877a4789b475409a4c93237faca71.png?vsn=d">
</a>
</div>
<div class="flex flex-col mt-10 text-center items-center">
<div><img loading="lazy" src="https://www.amigonaosecompra.com.br/images/logo-white-d8ebf5b8d208369bdd825c6e8ffdafe8.png?vsn=d" width="100px"></div>
<div class="text-xs mt-3">Todos os direitos reservados.</div>
</div>
</div>
</footer>
<script>window.static_url = "https://www.amigonaosecompra.com.br/";</script>
<script type="text/javascript" src="https://www.amigonaosecompra.com.br/assets/app-2d85fee41a55abb15a874f86edea49bc.js?vsn=d"></script>
<script async>
    (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='f8d63e000798ba00d49900007004fd005dd6be00cdcb60004afb5300d03bc300';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
  </script>
</body>
</html>