
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mi&Au</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body class="fundo">

    <header>
        <img id="banner" src="{% static 'images/h1.png' %}"/>
        <h1 id="titulo">Mi&Au</h1>
        <h4>O site para todos os pets</h4>
    </header>

    <div class="navbar">
        <a href="#" class="active">Home</a>
        <a href="adocao">Adoção</a>
        <a href="#">Sobre</a>
        <a href="#">Serviços</a>
        <a href="#" class="right">Login</a>
    </div>

    <div class="content">
        <article>
            <h2>Adoção</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odit iste totam enim maxime labore ipsa praesentium voluptatibus, similique consectetur laboriosam, saepe dolorem debitis ea tempore illum. Commodi, expedita voluptatum.</p>
            <br>
            <div class="anuncio">
                {% block content %}
                <div>
                {% for pet in pets %}
                    <div class="petname">
                        <a href="{% url 'pet_detail' pet.id %}">
                            <h3>{{ pet.nome}}</h3>
                        </a>
                        <p>{{ pet.especie }}</p>
                        {% if pet.idade %}
                        <p>Idade: {{ pet.idade}}</p>
                        {% endif %}
                        <img>{{ pet.imagem }}</img>
                        </div>
                        {% endfor %}
                </div>
                {% endblock %}
            </div>
        </article>
        <article>
            <h2>Sobre</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odit iste totam enim maxime labore ipsa praesentium voluptatibus, similique consectetur laboriosam, saepe dolorem debitis ea tempore illum. Commodi, expedita voluptatum.</p>
        </article>
        <article>
            <h2>Cadastrar</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odit iste totam enim maxime labore ipsa praesentium voluptatibus, similique consectetur laboriosam, saepe dolorem debitis ea tempore illum. Commodi, expedita voluptatum.</p>
        </article>
        <article>
            <h2>Serviços</h2>
          <tbody>
          {% for dbs in db %}
            <tr>
              <th>{{dbs.id}}</th>
              <td>{{dbs.modelo}}</td>
              <td>{{dbs.marca}}</td>
              <td>{{dbs.ano}}</td>
              <td>
                  <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                  <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                  <a href="/delete/{{dbs.id}}/" class="btn btn-danger btnDel">Deletar</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>        </article>
        <article>
            <h2>Blog</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque odit iste totam enim maxime labore ipsa praesentium voluptatibus, similique consectetur laboriosam, saepe dolorem debitis ea tempore illum. Commodi, expedita voluptatum.</p>
        </article>
    </div>

    <button onclick="topFunction()" id="Btn" title="Subir">Ir para o topo</button>

    <footer>
        Projeto Mi&Au
        <br>
        Desenvolvimento WEB
        <br>
        Beatriz e Lorenzo
    </footer>
    <script src="{% static 'botao.js' %}"></script>
</body>
</html>