* {
    margin: 0;
    padding: 0;
}

.fundo{
    width: 100%;
    height: 100vh;
    background-color: #fafae6;
    background-image: linear-gradient(120deg, transparent 114px, rgba(173, 216, 230, 0.942) 114px), linear-gradient(240deg, transparent 114px, rgba(173, 216, 230, 0.685) 114px);
    background-size: 93px 92px;
}

header {
    border: solid black 1px;
    padding: 25px;
    text-align: center;
    background-color: white;
    color: #a8c8f0;
}
.content {
    width: 1098px;
    margin: auto;
}

article {
    background-color: white;
    padding: 30px;
    border: solid 1px black;
    margin-bottom: 30px;
    height: fit-content;
    align-items: stretch;
}

hr{
    border-top: 3px dashed lightblue;
}

#titulo{
    font-size: 80px;
    font-weight: 700;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h4{
    color: #213047;
}

.navbar{
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    border: solid black 1px;
    overflow: hidden;
    background-color: #859EBD;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 65px;
  text-decoration: none;
  background-color: #213047;
  font-size: 20px;
  border: solid white 2px;
  border-radius: 100px;
  font-weight: 700;
}

.navbar a.right {
  float: right;
  padding: 10px 40px;
}

.navbar a:hover {
  background-color: #a8c8f0;
  color: #213047;
}

.navbar a.active {
  background-color: #a8c8f0;
  color: #213047;
}

footer {
    margin-top: 200px;
    border: solid black 1px;
    text-align: center;
    margin: 5px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #859EBD;
    color: white;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-warning{
    border-left-color: #f0ad4e;
}

#banner{
    width: 290px;
    margin-top: -39px;
    float: left;
}

a{
    color: black;
}

a:hover{
    color: lightblue;
}

.anunciados{
    margin-bottom: 20px;
}

.lista-pets{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px 0;
    grid-template-columns: repeat(3, 1fr);
}

.lista-pets .anuncio{
    border-radius: 16px;
    background-color: white;
    display: grid;
    grid-template-rows: 190px 30px;
    padding: 10px 15px 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.anuncio{
    padding: 20px;
    margin: 10px;
    border: solid 1px black;
    color: #213047;
    float: left;
}

#Btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 7px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #213047;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    border: solid white 1px;
  }

#Btn:hover {
    background-color: #859EBD;
    color: black;
}

.fl{
    color: #213047;
    margin: auto;
    padding: 50px;
    border-top: 3px dashed lightblue;
    border-bottom: 3px dashed lightblue;
}
