{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mi&Au-Entrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static '\style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}"/>
</head>
<body>

    <header>
        <img id="banner" src="{% static 'images/h1.png' %}"/>
        <h1 id="titulo">Mi&Au</h1>
        <h4>O site para todos os pets</h4>
    </header>
    <div class="navbar"></div>
    <div class="fl">
  <div class="sidenav">
         <div class="login-main-text">
            <h1>Mi&Au<h1><h4>Comunidade de notícias, adoções e blog para pets!</h4>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form action="submit", method="POST">{% csrf_token %}
                  <div class="form-group">
                     <label>Usuário</label>
                     <input type="text" class="form-control" placeholder="Usuário" name="username">
                  </div>
                  <div class="form-group">
                     <label>Senha</label>
                     <input type="password" class="form-control" placeholder="Senha" name="password">
                  </div>
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-danger">{{ message }}</div>
                      {% endfor %}
                  {% endif %}
                  <button type="submit" class="btn btn-green">Login</button>
               </form>
            </div>
         </div>
      </div>
    </div>

</body>
