{% load static %}
<title>Mi&Au</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'images/icon.png' %}"/>
    <header>
        <img id="banner" src="{% static 'images/h1.png' %}"/>
        <h1 id="titulo">Mi&Au</h1>
        <h4>O site para todos os pets</h4>
    </header>

    <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/pet/all/">Adoção</a>
        <a href="/sobre">Sobre</a>
        <a href="/noticias">Notícias</a>
        <a href="accounts/login" class="right">Login</a>
        <div class="text-right mr-4">
            <a href="/logout/">Sair</a>
        </div>
    </div>
<div class="navbar">
    <ul class="nav ml-4">
        <li class="nav-item">
            <a class="nav-link" href="/pet/all/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/user/">Meus pets cadastrados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pet/register/">Cadastrar</a>
        </li>
    </ul>
</div>
<br>

