
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mi&Au-Notícias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}"/>
</head>
<body class="fundo">

    <header>
        <img id="banner" src="{% static 'images/h1.png' %}"/>
        <h1 id="titulo">Mi&Au</h1>
        <h4>O site para todos os pets</h4>
    </header>

    <div class="navbar">
        <a href="/" >Home</a>
        <a href="\pet/all/">Adoção</a>
        <a href="\sobre">Sobre</a>
        <a href=" " class="active">Notícias</a>
        <a href="\login" class="right">Login</a>
        <a href="/logout/">Sair</a>
    </div>

    <div class="content">
        <article>
            <h2>Notícias</h2>
            <p>Aqui você encontra notícias da comunidade.</p>
            <a href="\noticia/register/" >Cadastrar</a>
               <div class="container">
            <div class="row">
                {% for n in noticia %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="../detail/{{ n.id }}">
                                <div class="container">
                                    <p>{{ n.titulo}}</p>
                                    <p>{{ n.conteudo}}</p>
                                </div>
                            </div>
                        </a>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
        </article>
        <article>
            <h2>Procura-se</h2>
            <p>Em construção...</p>
        </article>
        <article>
            <h2>Blog</h2>
            <p>Área para compartilhamento de dicas. Em construção...</p>
        </article>
    </div>

    <button onclick="topFunction()" id="Btn" title="Subir">Ir para o topo</button>

    <footer>
        Projeto Mi&Au
        <br>
        Desenvolvimento WEB
        <br>
        Beatriz e Lorenzo
    </footer>
    <script src="{% static 'botao.js' %}"></script>
</body>